<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nv_cike_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{99,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,105},{99,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{101,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{99,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{97,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,305},{97,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>nv_cike_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,206},{97,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nv_cike_idle.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdcd8f7ca624581a7c17da83cff00a6c$</string>
            <key>textureFileName</key>
            <string>nv_cike_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
