<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nan_cike_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{91,111}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{91,111}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,115},{89,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{89,111}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{93,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{93,113}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{97,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,115}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,115},{89,107}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{89,107}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,337},{85,103}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{85,103}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,236},{79,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{79,113}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,115}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{93,115}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,351},{93,111}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,111}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,228},{97,107}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>nan_cike_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{95,103}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,103}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nan_cike_move.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed309665748df2d29def2384ed4bfc5$</string>
            <key>textureFileName</key>
            <string>nan_cike_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
