<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef1042_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,213},{114,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1042_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,212},{110,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1042_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{106,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,215},{106,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1042_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{100,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,213},{100,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef1042.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60d2f752bf8254cc08a99b2e7b900892$</string>
            <key>textureFileName</key>
            <string>ef1042.pvr.ccz</string>
        </dict>
    </dict>
</plist>
