<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef1054_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{96,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,215},{96,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,84}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,206},{96,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,82},{80,60}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,227},{80,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,220},{96,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{84,86}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,208},{84,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{84,74}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,217},{84,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,168},{80,72}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,217},{80,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1054_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,168},{82,74}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,218},{82,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef1054.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:283a6ccbe89cad8172b8d7e875d0b1c5$</string>
            <key>textureFileName</key>
            <string>ef1054.pvr.ccz</string>
        </dict>
    </dict>
</plist>
