<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef1119_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{154,198}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,140},{154,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,206}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,139},{174,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,210},{162,184}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,155},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{138,162}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,171},{138,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{130,142}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,185},{130,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,142},{130,122}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,198},{130,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1119_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,266},{120,122}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,197},{120,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef1119.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9950074ebb31cb3eba76610c42c408e7$</string>
            <key>textureFileName</key>
            <string>ef1119.pvr.ccz</string>
        </dict>
    </dict>
</plist>
