<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef1162_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,416},{86,112}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,204},{86,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{92,134}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,187},{92,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{90,142}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,180},{90,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{104,142}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,180},{104,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{108,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,180},{108,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,148}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,172},{112,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,152},{118,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,184},{118,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1162_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{114,134}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,185},{114,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef1162.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:624c19c2fa08642d62b0e9cf583151a9$</string>
            <key>textureFileName</key>
            <string>ef1162.pvr.ccz</string>
        </dict>
    </dict>
</plist>
