<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef1111_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{94,146}}</string>
                <key>offset</key>
                <string>{10,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,27},{94,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1111_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{94,166}}</string>
                <key>offset</key>
                <string>{3,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,86},{94,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1111_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{94,148}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,163},{94,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1111_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,152},{132,116}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,213},{132,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1111_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,206}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,166},{234,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef1111_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,194},{144,134}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{144,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef1111.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44ba29f161799f9f264aa20c0fac7a27$</string>
            <key>textureFileName</key>
            <string>ef1111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
