<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{32,22}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,69},{32,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,40},{44,42}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{44,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{44,38}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{44,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,38}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,61},{46,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{32,32}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{32,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,122},{40,36}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,59},{40,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,84},{44,36}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,60},{44,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{44,36}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,64},{44,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,36}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{46,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{42,38}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{42,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{42,34}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{42,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pt2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,122},{42,36}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,62},{42,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pt2.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd651c85adecbde21ec80f5a013e83ae$</string>
            <key>textureFileName</key>
            <string>pt2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
