<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{58,36}}</string>
                <key>offset</key>
                <string>{-36,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,292},{58,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{120,68}}</string>
                <key>offset</key>
                <string>{26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,272},{120,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{202,62}}</string>
                <key>offset</key>
                <string>{45,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,276},{202,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,94}}</string>
                <key>offset</key>
                <string>{50,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,256},{206,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{204,126}}</string>
                <key>offset</key>
                <string>{50,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,255},{204,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{196,124}}</string>
                <key>offset</key>
                <string>{71,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,257},{196,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pt1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,200},{156,52}}</string>
                <key>offset</key>
                <string>{69,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,259},{156,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pt1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bbfc0d46ac94fa594deaba9163f560f$</string>
            <key>textureFileName</key>
            <string>pt1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
