<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nan_jiashi_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{152,124}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{152,124}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,120},{152,124}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{152,124}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{152,122}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{152,122}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{154,120}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,118}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{154,118}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,116}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{154,116}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{152,116}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{152,116}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>nan_jiashi_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,246},{152,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{152,120}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nan_jiashi_idle.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed91f23fe80f46995ca8beb731d1cfb$</string>
            <key>textureFileName</key>
            <string>nan_jiashi_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
