<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_10008_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>npc_10008_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,119}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>npc_10008_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,117}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>npc_10008_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,115}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>npc_10008_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,123},{56,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,117}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_10008_idle.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b63bf70b297349f14f4bd2551d94d055$</string>
            <key>textureFileName</key>
            <string>npc_10008_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
