<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleEntry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{117,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,139}}</string>
                <key>sourceSize</key>
                <string>{121,139}</string>
            </dict>
            <key>battleEntry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{119,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,139}}</string>
                <key>sourceSize</key>
                <string>{121,139}</string>
            </dict>
            <key>battleEntry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,139}}</string>
                <key>sourceSize</key>
                <string>{121,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleEntry.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ce8030ca4f1938dfac99a1811cf34f$</string>
            <key>textureFileName</key>
            <string>battleEntry.pvr.ccz</string>
        </dict>
    </dict>
</plist>
