<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nan_moushi_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{99,126}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{99,126}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,130},{107,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{107,122}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{107,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,128}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{101,128}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{97,122}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{97,122}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{103,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{103,120}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{107,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{107,122}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,260},{107,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{107,124}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{107,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,386},{105,124}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{105,124}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,254},{107,120}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{107,120}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>nan_moushi_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{107,118}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{107,118}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nan_moushi_move.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8661c5cf95d37cf4fb90cceba9e836$</string>
            <key>textureFileName</key>
            <string>nan_moushi_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
