<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_10003_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{119,121}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>npc_10003_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{119,121}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>npc_10003_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{117,121}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>npc_10003_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,242},{117,121}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>npc_10003_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,123},{117,121}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>npc_10003_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,121}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_10003_idle.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cef863edf8e2d53846ef904b038ddff$</string>
            <key>textureFileName</key>
            <string>npc_10003_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
