<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nv_wuzhe_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,140},{94,136}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{94,136}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{94,136}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{94,136}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{90,140}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{90,140}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,278},{82,138}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{82,138}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{76,136}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{76,136}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{78,136}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{78,136}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{90,140}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{90,140}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>nv_wuzhe_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,140}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{94,140}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nv_wuzhe_move.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe0fd14a136587d18a5232577b1e3fa3$</string>
            <key>textureFileName</key>
            <string>nv_wuzhe_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
