<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapEntry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,354},{120,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{120,152}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,166},{124,162}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{124,162}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{124,162}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{128,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{128,162}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,182}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{126,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{126,174}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,186},{124,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{124,166}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{128,160}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
            <key>mapEntry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,164},{122,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{122,160}}</string>
                <key>sourceSize</key>
                <string>{130,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entry.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922d883bcfc224079c63426706ea58de$</string>
            <key>textureFileName</key>
            <string>entry.pvr.ccz</string>
        </dict>
    </dict>
</plist>
