<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure290001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,124},{84,114}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{84,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,366},{98,116}}</string>
                <key>offset</key>
                <string>{-11,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,162},{98,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,246},{118,46}}</string>
                <key>offset</key>
                <string>{27,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,244},{118,46}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,246},{84,114}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{84,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{106,120}}</string>
                <key>offset</key>
                <string>{20,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,165},{106,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,124},{104,120}}</string>
                <key>offset</key>
                <string>{13,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,158},{104,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{86,134}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,141},{86,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,142}}</string>
                <key>offset</key>
                <string>{-23,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,132},{84,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{84,136}}</string>
                <key>offset</key>
                <string>{-29,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,134},{84,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{108,100}}</string>
                <key>offset</key>
                <string>{35,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,192},{108,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,362},{96,92}}</string>
                <key>offset</key>
                <string>{33,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,200},{96,92}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure290001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{88,110}}</string>
                <key>offset</key>
                <string>{16,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,175},{88,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure290001.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ef79ae473db7145dfc82c05a2e9617$</string>
            <key>textureFileName</key>
            <string>figure290001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
