<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure1001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,142},{164,130}}</string>
                <key>offset</key>
                <string>{-25,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,160},{164,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,146},{148,154}}</string>
                <key>offset</key>
                <string>{-21,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,134},{148,154}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,400},{134,122}}</string>
                <key>offset</key>
                <string>{-14,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,165},{134,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{138,174}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,115},{138,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,284},{116,136}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,163},{116,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,284},{136,50}}</string>
                <key>offset</key>
                <string>{-4,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,249},{136,50}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,152},{164,130}}</string>
                <key>offset</key>
                <string>{-23,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,160},{164,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{170,138}}</string>
                <key>offset</key>
                <string>{-27,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,153},{170,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,270},{160,128}}</string>
                <key>offset</key>
                <string>{-26,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,161},{160,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,274},{160,130}}</string>
                <key>offset</key>
                <string>{-26,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,160},{160,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{160,128}}</string>
                <key>offset</key>
                <string>{-27,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,162},{160,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{168,132}}</string>
                <key>offset</key>
                <string>{-25,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,158},{168,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{162,126}}</string>
                <key>offset</key>
                <string>{-27,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,164},{162,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,266},{162,122}}</string>
                <key>offset</key>
                <string>{-27,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,168},{162,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,142},{162,122}}</string>
                <key>offset</key>
                <string>{-27,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,168},{162,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,406},{160,122}}</string>
                <key>offset</key>
                <string>{-27,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,168},{160,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,390},{160,126}}</string>
                <key>offset</key>
                <string>{-26,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,164},{160,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{154,128}}</string>
                <key>offset</key>
                <string>{16,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,164},{154,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,122}}</string>
                <key>offset</key>
                <string>{28,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,168},{178,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{174,124}}</string>
                <key>offset</key>
                <string>{27,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,166},{174,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,136},{164,132}}</string>
                <key>offset</key>
                <string>{19,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,165},{164,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,296},{134,130}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{134,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{156,142}}</string>
                <key>offset</key>
                <string>{-24,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,147},{156,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{164,148}}</string>
                <key>offset</key>
                <string>{-29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,140},{164,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure1001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fcdbe5c82bebcd219d5db66d30f0aa2$</string>
            <key>textureFileName</key>
            <string>figure1001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
