<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure1002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{106,134}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,155},{106,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,132},{136,140}}</string>
                <key>offset</key>
                <string>{-16,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,151},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{138,146}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,147},{138,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,150}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,145},{134,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,142},{120,140}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,151},{120,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{128,142}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,149},{128,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,270},{114,138}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,152},{114,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{118,144}}</string>
                <key>offset</key>
                <string>{-7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,145},{118,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{112,60}}</string>
                <key>offset</key>
                <string>{-28,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,239},{112,60}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,832},{102,132}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,156},{102,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,622},{104,132}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,156},{104,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,756},{102,132}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,157},{102,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{102,134}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,154},{102,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{102,134}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,155},{102,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{102,136}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,152},{102,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,402},{102,136}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,152},{102,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,386},{102,138}}</string>
                <key>offset</key>
                <string>{-2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,150},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,728},{102,132}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,156},{102,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,860},{100,132}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,156},{100,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,614},{104,134}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,154},{104,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,622},{102,132}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,157},{102,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,808},{104,132}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,159},{104,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{98,140}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,155},{98,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,506},{106,134}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,155},{106,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,490},{134,130}}</string>
                <key>offset</key>
                <string>{-16,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,160},{134,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,132}}</string>
                <key>offset</key>
                <string>{-20,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,157},{138,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1002_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,264},{138,136}}</string>
                <key>offset</key>
                <string>{-18,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,153},{138,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure1002.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41942952ca5c0899124f6d403c8f87eb$</string>
            <key>textureFileName</key>
            <string>figure1002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
