<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170012_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{92,84}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,212},{92,84}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,418},{90,78}}</string>
                <key>offset</key>
                <string>{-2,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,216},{90,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{90,78}}</string>
                <key>offset</key>
                <string>{8,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,221},{90,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,332},{92,82}}</string>
                <key>offset</key>
                <string>{0,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,214},{92,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,248},{94,82}}</string>
                <key>offset</key>
                <string>{-5,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,214},{94,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{96,80}}</string>
                <key>offset</key>
                <string>{-8,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,217},{96,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,78}}</string>
                <key>offset</key>
                <string>{-8,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,219},{96,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{92,80}}</string>
                <key>offset</key>
                <string>{6,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,217},{92,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,80}}</string>
                <key>offset</key>
                <string>{5,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,218},{100,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,80}}</string>
                <key>offset</key>
                <string>{5,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,217},{98,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{94,82}}</string>
                <key>offset</key>
                <string>{4,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,215},{94,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170012_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,164},{94,82}}</string>
                <key>offset</key>
                <string>{2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,214},{94,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170012.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d41fc8c90d218ebba64a2d144a19695$</string>
            <key>textureFileName</key>
            <string>figure170012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
