<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure270001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,242},{96,116}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,169},{96,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,340},{114,110}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,178},{114,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,126},{114,118}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,167},{114,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,448},{122,62}}</string>
                <key>offset</key>
                <string>{37,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,235},{122,62}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,220},{96,116}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,169},{96,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,318},{112,114}}</string>
                <key>offset</key>
                <string>{-1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{112,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,106},{126,112}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,173},{126,112}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{122,132}}</string>
                <key>offset</key>
                <string>{16,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,154},{122,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{142,146}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,141},{142,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,160}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,120},{142,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{146,110}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,179},{146,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,312},{134,104}}</string>
                <key>offset</key>
                <string>{19,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,185},{134,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure270001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{130,102}}</string>
                <key>offset</key>
                <string>{11,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,188},{130,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure270001.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b450b2d5b53b93487f80a2f75047c7a1$</string>
            <key>textureFileName</key>
            <string>figure270001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
