<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170025_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,126},{126,124}}</string>
                <key>offset</key>
                <string>{2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,169},{126,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,126},{128,116}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,175},{128,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,124},{130,118}}</string>
                <key>offset</key>
                <string>{-2,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,173},{130,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,126},{120,118}}</string>
                <key>offset</key>
                <string>{-1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,172},{120,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,126},{126,124}}</string>
                <key>offset</key>
                <string>{2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,169},{126,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{152,108}}</string>
                <key>offset</key>
                <string>{15,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,192},{152,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{130,122}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,171},{130,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,126},{128,122}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,171},{128,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{136,120}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,173},{136,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{144,116}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,176},{144,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,112}}</string>
                <key>offset</key>
                <string>{1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,179},{150,112}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{150,110}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,181},{150,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{146,114}}</string>
                <key>offset</key>
                <string>{3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,178},{146,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{128,122}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,173},{128,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170025_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,126},{128,118}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,174},{128,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170025.pvr.ccz</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44183962ab6c8a3b4435f56ce6c6b602$</string>
            <key>textureFileName</key>
            <string>figure170025.pvr.ccz</string>
        </dict>
    </dict>
</plist>
