<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure10009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{234,316}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,142},{234,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,528},{234,316}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,142},{234,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{324,126}}</string>
                <key>offset</key>
                <string>{76,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,368},{324,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{234,316}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,142},{234,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,232},{294,330}}</string>
                <key>offset</key>
                <string>{57,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,150},{294,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,374},{286,330}}</string>
                <key>offset</key>
                <string>{36,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,131},{286,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{240,370}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{240,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,390}}</string>
                <key>offset</key>
                <string>{-64,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,60},{230,390}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{228,378}}</string>
                <key>offset</key>
                <string>{-80,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,62},{228,378}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,764},{298,274}}</string>
                <key>offset</key>
                <string>{98,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,224},{298,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{264,250}}</string>
                <key>offset</key>
                <string>{93,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,248},{264,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>figure10009_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,706},{240,300}}</string>
                <key>offset</key>
                <string>{45,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,180},{240,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure10009.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38172fbe41b734d84975bd83aa9f00f2$</string>
            <key>textureFileName</key>
            <string>figure10009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
