<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure130012_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{62,122}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,171},{62,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{74,124}}</string>
                <key>offset</key>
                <string>{-30,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,163},{74,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,124}}</string>
                <key>offset</key>
                <string>{-31,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,163},{80,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,206},{92,118}}</string>
                <key>offset</key>
                <string>{-11,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{92,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{104,112}}</string>
                <key>offset</key>
                <string>{21,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,188},{104,112}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,78},{64,122}}</string>
                <key>offset</key>
                <string>{11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,172},{64,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,144},{60,122}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,178},{60,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,300},{102,78}}</string>
                <key>offset</key>
                <string>{33,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,221},{102,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure130012_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{60,120}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{60,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure130012.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bcdc588575ac34c855b6054150de29f$</string>
            <key>textureFileName</key>
            <string>figure130012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
