<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,316},{130,110}}</string>
                <key>offset</key>
                <string>{4,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,182},{130,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,218},{116,114}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,183},{116,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,152},{104,130}}</string>
                <key>offset</key>
                <string>{-3,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,163},{104,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,284},{120,94}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,205},{120,94}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{104,126}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,167},{104,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{148,104}}</string>
                <key>offset</key>
                <string>{20,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,189},{148,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{148,114}}</string>
                <key>offset</key>
                <string>{31,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{148,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,162}}</string>
                <key>offset</key>
                <string>{17,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,133},{88,162}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{98,146}}</string>
                <key>offset</key>
                <string>{26,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,151},{98,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,406},{102,100}}</string>
                <key>offset</key>
                <string>{28,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,200},{102,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{122,102}}</string>
                <key>offset</key>
                <string>{20,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,198},{122,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,106},{120,110}}</string>
                <key>offset</key>
                <string>{10,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,190},{120,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170002_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,336},{114,114}}</string>
                <key>offset</key>
                <string>{7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,186},{114,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170002.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9fd10c83e3fab92c856c468857c7dd2$</string>
            <key>textureFileName</key>
            <string>figure170002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
