<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure280003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{44,100}}</string>
                <key>offset</key>
                <string>{-42,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,181},{44,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{114,50}}</string>
                <key>offset</key>
                <string>{4,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,249},{114,50}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,180},{42,100}}</string>
                <key>offset</key>
                <string>{-7,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,199},{42,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,276},{40,102}}</string>
                <key>offset</key>
                <string>{-41,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,180},{40,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{64,102}}</string>
                <key>offset</key>
                <string>{-32,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,179},{64,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,110},{68,106}}</string>
                <key>offset</key>
                <string>{-34,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,176},{68,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{70,104}}</string>
                <key>offset</key>
                <string>{-35,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,178},{70,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,180},{94,102}}</string>
                <key>offset</key>
                <string>{-11,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,189},{94,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{116,106}}</string>
                <key>offset</key>
                <string>{9,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,194},{116,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,94}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,185},{122,94}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280003_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{50,96}}</string>
                <key>offset</key>
                <string>{-17,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,203},{50,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure280003.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7210883405f1a9a6dea166b20c65b2d9$</string>
            <key>textureFileName</key>
            <string>figure280003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
