<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure140045_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{96,120}}</string>
                <key>offset</key>
                <string>{8,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,173},{96,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,198},{118,114}}</string>
                <key>offset</key>
                <string>{-2,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,176},{118,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,128}}</string>
                <key>offset</key>
                <string>{21,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,168},{126,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{106,118}}</string>
                <key>offset</key>
                <string>{41,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,180},{106,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,100},{96,120}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,179},{96,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,314},{102,48}}</string>
                <key>offset</key>
                <string>{-12,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,251},{102,48}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure140045_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,120}}</string>
                <key>offset</key>
                <string>{7,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,178},{96,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure140045.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d09b053f11a4f6e626f10f5db77b66f$</string>
            <key>textureFileName</key>
            <string>figure140045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
