<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure1003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,370},{122,48}}</string>
                <key>offset</key>
                <string>{-28,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,249},{122,48}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,134}}</string>
                <key>offset</key>
                <string>{-23,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,157},{210,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{194,134}}</string>
                <key>offset</key>
                <string>{-19,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{194,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{158,138}}</string>
                <key>offset</key>
                <string>{-23,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{158,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,626},{112,140}}</string>
                <key>offset</key>
                <string>{-34,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,156},{112,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{92,136}}</string>
                <key>offset</key>
                <string>{-15,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,156},{92,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,740},{102,130}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,158},{102,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{92,148}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,141},{92,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,548},{90,144}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,145},{90,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,460},{86,146}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,143},{86,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,370},{88,148}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,141},{88,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,454},{86,148}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,141},{86,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{90,144}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,145},{90,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{88,150}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,139},{88,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,366},{86,150}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,139},{86,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,278},{86,150}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,139},{86,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,276},{92,150}}</string>
                <key>offset</key>
                <string>{-15,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,138},{92,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,542},{82,146}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,143},{82,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{96,134}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,158},{96,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,640},{116,132}}</string>
                <key>offset</key>
                <string>{3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,160},{116,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{146,132}}</string>
                <key>offset</key>
                <string>{-10,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,158},{146,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,138},{158,136}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,160},{158,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1003_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{182,138}}</string>
                <key>offset</key>
                <string>{-5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,159},{182,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure1003.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be6b95d544982640640328a440b10965$</string>
            <key>textureFileName</key>
            <string>figure1003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
