<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure120011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,388},{74,122}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{74,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,264},{74,122}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,177},{74,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{80,64}}</string>
                <key>offset</key>
                <string>{18,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,235},{80,64}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{76,120}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,180},{76,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,128},{62,122}}</string>
                <key>offset</key>
                <string>{14,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,175},{62,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{82,124}}</string>
                <key>offset</key>
                <string>{15,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,171},{82,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{128,122}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,172},{128,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{116,130}}</string>
                <key>offset</key>
                <string>{-9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,162},{116,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,134}}</string>
                <key>offset</key>
                <string>{22,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,166},{84,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{92,122}}</string>
                <key>offset</key>
                <string>{39,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,178},{92,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{54,130}}</string>
                <key>offset</key>
                <string>{14,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,170},{54,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure120011_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,134},{62,128}}</string>
                <key>offset</key>
                <string>{8,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,171},{62,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure120011.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a9f8793c619e346daa9cd4c9c3487ae$</string>
            <key>textureFileName</key>
            <string>figure120011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
