<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{94,118}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,171},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{108,76}}</string>
                <key>offset</key>
                <string>{30,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,223},{108,76}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{94,118}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,171},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,288},{90,114}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,173},{90,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{76,116}}</string>
                <key>offset</key>
                <string>{-8,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,171},{76,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,122}}</string>
                <key>offset</key>
                <string>{-4,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,165},{80,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{90,120}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,168},{90,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{94,120}}</string>
                <key>offset</key>
                <string>{4,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,167},{94,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,194},{92,118}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,169},{92,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,98},{94,118}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,170},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170003_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{94,118}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,171},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170003.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c3895ee88bdcf9193d65e20ee5506e$</string>
            <key>textureFileName</key>
            <string>figure170003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
