<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure1004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{94,116}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,184},{94,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,302},{102,116}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,184},{102,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,48}}</string>
                <key>offset</key>
                <string>{4,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,252},{130,48}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,398},{94,116}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,184},{94,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{112,120}}</string>
                <key>offset</key>
                <string>{-21,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,178},{112,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,308},{94,116}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,184},{94,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{96,118}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,182},{96,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,114},{96,118}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,182},{96,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,302},{94,118}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,182},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{96,118}}</string>
                <key>offset</key>
                <string>{-3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,182},{96,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,212},{94,118}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,182},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{110,120}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,180},{110,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,206},{94,118}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,182},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{94,118}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,182},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,494},{96,110}}</string>
                <key>offset</key>
                <string>{3,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,190},{96,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{116,104}}</string>
                <key>offset</key>
                <string>{24,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,196},{116,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{120,104}}</string>
                <key>offset</key>
                <string>{26,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,196},{120,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,102}}</string>
                <key>offset</key>
                <string>{21,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,198},{124,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{120,96}}</string>
                <key>offset</key>
                <string>{9,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,204},{120,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,108},{120,96}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,204},{120,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1004_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,404},{108,110}}</string>
                <key>offset</key>
                <string>{12,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,190},{108,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure1004.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4d3392d83af241d448fd1d05ede01a$</string>
            <key>textureFileName</key>
            <string>figure1004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
