<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure300001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,472},{116,124}}</string>
                <key>offset</key>
                <string>{-19,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,143},{116,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,178},{140,128}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,141},{140,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{104,136}}</string>
                <key>offset</key>
                <string>{-19,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,131},{104,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,136},{176,52}}</string>
                <key>offset</key>
                <string>{14,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,226},{176,52}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,448},{116,124}}</string>
                <key>offset</key>
                <string>{-19,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,143},{116,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{142,174}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,85},{142,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,184}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,71},{150,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{132,178}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,76},{132,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{150,160}}</string>
                <key>offset</key>
                <string>{43,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,107},{150,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{164,146}}</string>
                <key>offset</key>
                <string>{40,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{164,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,342},{128,156}}</string>
                <key>offset</key>
                <string>{57,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,138},{128,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,308},{138,156}}</string>
                <key>offset</key>
                <string>{34,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,132},{138,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure300001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{158,136}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,143},{158,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure300001.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dc0a167001a6fc84cc115bd61cb80a$</string>
            <key>textureFileName</key>
            <string>figure300001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
