<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure250004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{178,108}}</string>
                <key>offset</key>
                <string>{21,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,185},{178,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,112},{178,150}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,135},{178,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{144,164}}</string>
                <key>offset</key>
                <string>{-53,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{144,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,108}}</string>
                <key>offset</key>
                <string>{19,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,182},{180,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,348},{156,90}}</string>
                <key>offset</key>
                <string>{26,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,201},{156,90}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{158,82}}</string>
                <key>offset</key>
                <string>{32,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,211},{158,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,116}}</string>
                <key>offset</key>
                <string>{12,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,176},{182,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{160,68}}</string>
                <key>offset</key>
                <string>{35,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,229},{160,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250004_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{178,106}}</string>
                <key>offset</key>
                <string>{21,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,187},{178,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure250004.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1fd23e1799ca96cab69e2f3196dc57$</string>
            <key>textureFileName</key>
            <string>figure250004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
