<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure280002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,118},{86,114}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,171},{86,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,64}}</string>
                <key>offset</key>
                <string>{5,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,231},{136,64}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,176},{84,114}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,171},{84,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{86,122}}</string>
                <key>offset</key>
                <string>{-18,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,160},{86,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{86,128}}</string>
                <key>offset</key>
                <string>{-21,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,152},{86,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{76,128}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,151},{76,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{84,126}}</string>
                <key>offset</key>
                <string>{-15,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,156},{84,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{126,114}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,174},{126,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,102},{88,114}}</string>
                <key>offset</key>
                <string>{24,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,181},{88,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{82,114}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,174},{82,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure280002_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{98,110}}</string>
                <key>offset</key>
                <string>{-24,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,173},{98,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure280002.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d525d619270ff51d85463322332f3299$</string>
            <key>textureFileName</key>
            <string>figure280002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
