<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure210005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{104,116}}</string>
                <key>offset</key>
                <string>{-10,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,179},{104,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,114},{118,116}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,179},{118,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,406},{104,114}}</string>
                <key>offset</key>
                <string>{-10,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,186},{104,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,70}}</string>
                <key>offset</key>
                <string>{20,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,226},{158,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{106,116}}</string>
                <key>offset</key>
                <string>{-10,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,183},{106,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{102,110}}</string>
                <key>offset</key>
                <string>{-15,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,186},{102,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{88,100}}</string>
                <key>offset</key>
                <string>{-14,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,197},{88,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,232},{104,106}}</string>
                <key>offset</key>
                <string>{-6,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,191},{104,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,290},{114,110}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,186},{114,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,110},{122,108}}</string>
                <key>offset</key>
                <string>{7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,189},{122,108}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{124,106}}</string>
                <key>offset</key>
                <string>{10,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,190},{124,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{126,106}}</string>
                <key>offset</key>
                <string>{9,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,190},{126,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure210005_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{126,110}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,186},{126,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure210005.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2aa86c2ef960acd82614d9c06d53a5a$</string>
            <key>textureFileName</key>
            <string>figure210005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
