<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170014_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,138},{84,134}}</string>
                <key>offset</key>
                <string>{11,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,158},{84,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,276},{88,134}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,160},{88,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,134},{86,120}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,172},{86,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{118,64}}</string>
                <key>offset</key>
                <string>{-14,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,229},{118,64}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{84,134}}</string>
                <key>offset</key>
                <string>{11,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,158},{84,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{112,134}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,157},{112,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,136}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,155},{104,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{92,136}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,155},{92,136}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,130}}</string>
                <key>offset</key>
                <string>{13,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,165},{94,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{96,128}}</string>
                <key>offset</key>
                <string>{16,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,166},{96,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,274},{90,128}}</string>
                <key>offset</key>
                <string>{14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,165},{90,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,412},{90,130}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,163},{90,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170014_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,140},{92,134}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,161},{92,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170014.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671f18baae17dcff4fc08872d73a9dc6$</string>
            <key>textureFileName</key>
            <string>figure170014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
