<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure1006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{88,140}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,157},{88,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,692},{88,140}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,157},{88,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,164},{110,126}}</string>
                <key>offset</key>
                <string>{-22,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{110,126}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{114,56}}</string>
                <key>offset</key>
                <string>{-16,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,244},{114,56}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,632},{88,140}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,157},{88,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,594},{96,140}}</string>
                <key>offset</key>
                <string>{-2,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,158},{96,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,434},{98,140}}</string>
                <key>offset</key>
                <string>{-2,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{98,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,534},{96,140}}</string>
                <key>offset</key>
                <string>{-3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{96,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{96,140}}</string>
                <key>offset</key>
                <string>{-3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{96,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{98,140}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,158},{98,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,292},{98,140}}</string>
                <key>offset</key>
                <string>{-2,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,158},{98,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{86,144}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,154},{86,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,496},{96,140}}</string>
                <key>offset</key>
                <string>{-3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{96,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,314},{92,144}}</string>
                <key>offset</key>
                <string>{-8,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,153},{92,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{138,180}}</string>
                <key>offset</key>
                <string>{28,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,118},{138,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,164},{148,182}}</string>
                <key>offset</key>
                <string>{39,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{148,182}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{162,198}}</string>
                <key>offset</key>
                <string>{46,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,102},{162,198}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{160,218}}</string>
                <key>offset</key>
                <string>{43,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,82},{160,218}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,220}}</string>
                <key>offset</key>
                <string>{24,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,80},{144,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure1006_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{90,140}}</string>
                <key>offset</key>
                <string>{-6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{90,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure1006.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7897d09b8782052f3ed3eedf2cd3f2$</string>
            <key>textureFileName</key>
            <string>figure1006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
