<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure190011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{78,116}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,181},{78,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{74,130}}</string>
                <key>offset</key>
                <string>{5,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,168},{74,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{78,116}}</string>
                <key>offset</key>
                <string>{-6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,181},{78,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{124,60}}</string>
                <key>offset</key>
                <string>{-27,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,237},{124,60}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,120},{78,116}}</string>
                <key>offset</key>
                <string>{-5,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,182},{78,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,116},{80,94}}</string>
                <key>offset</key>
                <string>{13,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,203},{80,94}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,82},{96,78}}</string>
                <key>offset</key>
                <string>{18,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,218},{96,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{82,152}}</string>
                <key>offset</key>
                <string>{12,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,144},{82,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{116,114}}</string>
                <key>offset</key>
                <string>{13,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,180},{116,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,152}}</string>
                <key>offset</key>
                <string>{-11,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,137},{88,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,310},{124,116}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,174},{124,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{98,112}}</string>
                <key>offset</key>
                <string>{-10,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,178},{98,112}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure190011_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,156},{82,122}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,171},{82,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure190011.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea797a22305cb4c3e85955569472f02$</string>
            <key>textureFileName</key>
            <string>figure190011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
