<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure250002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,232},{108,110}}</string>
                <key>offset</key>
                <string>{-14,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,170},{108,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,104}}</string>
                <key>offset</key>
                <string>{-35,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,183},{160,104}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,108},{112,122}}</string>
                <key>offset</key>
                <string>{-8,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,161},{112,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{132,100}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,190},{132,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{112,112}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,171},{112,112}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{92,98}}</string>
                <key>offset</key>
                <string>{27,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,195},{92,98}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure250002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,232},{108,110}}</string>
                <key>offset</key>
                <string>{-14,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,170},{108,110}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure250002.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb9b83194bd425d1048163908f41224$</string>
            <key>textureFileName</key>
            <string>figure250002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
