<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,96}}</string>
                <key>offset</key>
                <string>{-1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,204},{58,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{66,90}}</string>
                <key>offset</key>
                <string>{-19,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,206},{66,90}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{58,98}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,201},{58,98}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{62,96}}</string>
                <key>offset</key>
                <string>{17,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,201},{62,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,206},{60,96}}</string>
                <key>offset</key>
                <string>{20,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,201},{60,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,304},{58,96}}</string>
                <key>offset</key>
                <string>{20,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,202},{58,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{62,100}}</string>
                <key>offset</key>
                <string>{-8,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,197},{62,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,100},{92,60}}</string>
                <key>offset</key>
                <string>{-45,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,235},{92,60}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170004_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,100}}</string>
                <key>offset</key>
                <string>{-8,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,197},{62,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170004.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31826368365ad4627d9543d7c86b62fc$</string>
            <key>textureFileName</key>
            <string>figure170004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
