<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure200001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{80,118}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,181},{80,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{78,76}}</string>
                <key>offset</key>
                <string>{-8,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,222},{78,76}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,98},{80,118}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,181},{80,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,260},{96,116}}</string>
                <key>offset</key>
                <string>{-12,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,179},{96,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,358},{108,114}}</string>
                <key>offset</key>
                <string>{-5,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,181},{108,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,120}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,179},{90,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{94,118}}</string>
                <key>offset</key>
                <string>{15,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,179},{94,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{76,116}}</string>
                <key>offset</key>
                <string>{11,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,182},{76,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{70,118}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,182},{70,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,180},{78,118}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,182},{78,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure200001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{80,118}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,181},{80,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure200001.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53b4ae4f3c7f8119c3d6ef21d3e8e6a$</string>
            <key>textureFileName</key>
            <string>figure200001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
