<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figure170021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,490},{146,124}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,154},{146,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,122},{156,114}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,161},{156,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,246},{154,118}}</string>
                <key>offset</key>
                <string>{-8,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,157},{154,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,492},{144,122}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,155},{144,122}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{146,124}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{146,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{158,106}}</string>
                <key>offset</key>
                <string>{17,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,181},{158,106}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,366},{146,124}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,155},{146,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,364},{148,124}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,155},{148,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,120},{160,124}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,156},{160,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{162,120}}</string>
                <key>offset</key>
                <string>{-11,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,160},{162,120}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{166,116}}</string>
                <key>offset</key>
                <string>{-10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,164},{166,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,114}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,166},{168,114}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{162,118}}</string>
                <key>offset</key>
                <string>{-9,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,162},{162,118}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,238},{154,124}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,157},{154,124}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>figure170021_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{154,116}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,160},{154,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure170021.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:802550c57cfc2063c5305f5119a438b1$</string>
            <key>textureFileName</key>
            <string>figure170021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
